@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Architects Daughter', cursive;
    background-color: rgb(0, 0, 0);
}
* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    color: #DAA520;
    margin-bottom: 40px;
}
.section-title h1 {
    display: inline-block;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 10px;
    position: relative;
}
.section-title h1:before {
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    bottom: 0px;
    background-color: #66CDAA;
}
.text-center {
    text-align: center!important;
}
.text-left {
    text-align: left!important;
}
.text-right {
    text-align: right!important;
}

/* Header */
header {
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #66CDAA;
    padding: 0px 15px;
    z-index: 11;
    background-color:black;
}
header.fixed {
    background-color: black;
    position: fixed;
    border-color: #66CDAA;
    animation: fixHeader .5s ease;
    z-index: 10;
}
@keyframes fixHeader {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(-0%);
    }
}
header .row {
    justify-content: space-around;
    align-items: center;
}
header .brand-name a {
    text-decoration: none;
    font-size: 25px;
    color:	#F0FFF0;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
} 
header.fixed .brand-name a {
    color: #66CDAA;
}
header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}
header .navbar ul li a{
    font-size: 20px;
    text-decoration: none;
    line-height: 72px;
    color: #F0FFF0;
    font-weight: 600;
    display: block;
    position: relative;
}
header.fixed .navbar ul li a {
    color: #F0FFF0;
}
header .navbar ul li a::before {
    content: '';
    height: 3px;
    background-color: #F0FFF0;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header .fixed .navbar ul li a::before {
   background-color:#F0FFF0;
}
header .navbar ul li a:hover::before {
    width: 100%;
    left: 0;
}
header  .navbar ul li a.active::before {
    width: 100%;
    left: 0;
}

/* Home Section */
.home {
    min-height: 100vh;
    background-image: url("img/home.jpg");
    background-size: cover;
    background-position: center;
    padding: 15px;
}
.home .full-screen {  

    min-height: 100vh;
}
.home .home-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home .home-content .block {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid #66CDAA;
    margin-top: 50px;
}
.home .home-content .block h6 {
    color: #F0FFF0;
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block h1 {
    color: #66CDAA;
    font-size: 80px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.home .home-content .block h3 {
    color: #F0FFF0;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block .cv-btn {
    padding-top: 20px;
}
.home .home-content .block .cv-btn a {
    border-radius: 4px;
    color: #66CDAA;
    border: 1px solid #F0FFF0;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}
.home .home-content .block .cv-btn a:hover {
    background-color: #F0FFF0;
    color: #000000;
}

/*About Me*/
.about-me {
    padding: 100px 15px;
}
.about-me .section-title {
    flex: 0 0 100%;
    max-width: 100%;
    color:  #DAA520;
    margin-bottom: 40px;
}
.about-me .section-title h1 {
    display: inline-block;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 10px;
    position: relative;
}
.about-me .section-title h1:before {
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    bottom: 0px;
    background-color: #66CDAA;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.about-me .section-title p.small {
    display: block;
    color: #F0FFF0;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
}
.about-me .about-content .img {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.about-me .about-content .img img {
    width: 100%;
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.about-me .about-content .text {
    color: #F0FFF0;
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
}
.about-me .about-content .text h4 {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #66CDAA;
    margin-top: 25px;
}
.about-me .about-content .text h6 {
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 15px;
    color: #F0FFF0;
    margin-top: 10px;
}
.about-me .about-content .text h6 span {
    color: rgb(172, 202, 192);
}
.about-me .about-content .text p {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    color: #F0FFF0;
    margin: 0 0 3px;
    margin-top: 10px;
}
.about-me .about-content .text p span {
    color:  #66CDAA;
}
.about-me .about-content .text .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-me .about-content .text .info .list {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #F0FFF0;
    padding-bottom: 10px;
}
.about-me .about-content .text .info .list label {
    padding-right: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #66CDAA;
}
.about-me .about-content .text .info .list p {
    margin: 0;
}

/* Skills */
.skills {
    padding: 100px 15px;    
}
.skills .skills-content {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 40px;
}
.skills .img {
    flex: 0 0 50%;
    max-width: 50%;
}
.align-items-center {
    align-items: center;
}
.skills .img img {
    width: 100%;
    display: block;
}
.skills .skills-content .section-title p{
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    color: #F0FFF0;
    margin: 15px 0 0;
}
.skills .skills-content .skill-box {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}
.skills .skills-content .skill-box h6 {
    font-size: 20px;
    font-weight: 600;
    color: #F0FFF0;
    margin: 0 0 8px;
}
.skills .skills-content .skill-box .skill-bar {
    height: 5px;
    background-color: #F0FFF0;
    position: relative;
}
.skills .skills-content .skill-box .skill-bar .skill-bar-in {
    background-color:  #66CDAA;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.skills .skills-content .skill-box .skill-bar .skill-bar-in span {
    color: #F0FFF0;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: -30px;
}

/* my services */
.services {
    padding: 100px 15px 70px;
}
.services .section-title h1:before {
    left: 30%;
}
.services .service-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services .service-content .box {
    padding: 30px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin-bottom: 30px;
    border: 1px solid rgb(58, 58, 58);
    text-align: center;
    position: relative;
    border-radius: 5px;
}
.services .service-content .box::before {
    content: '';
    height: 2px;
    background-color: #F0FFF0;
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}
.services .service-content .box:hover::before {
width: 100%;
}
.services .service-content .box .icon {
    height: 60px;
    width: 60px;
    margin: 15px auto 20px;
    border-radius: 50%;
    border: 2px solid#DAA520;
    text-align: center;
}
.services .service-content .box .icon .fa {
    font-size: 25px;
    color: #DAA520;
    line-height: 60px;
}
.services .service-content .box h5 {
    font-size: 18px;
    font-weight: 600;
    color: #66CDAA;
    margin: 0;
}
.services .service-content .box p {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    color: #F0FFF0;
    margin: 10px 0 15px;
}

/* my projects */
.blogs{
    padding: 100px 15px;
}
.blogs .section-title h1::before {
    left: 30%;
}
.blogs .blogs-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blogs .blogs-content .box {
    flex: 0 0 calc(33.33% - 25px);
    max-width: calc(33.33% - 25px);
}
.blogs .blogs-content .box .img {
    overflow: hidden;
}
.blogs .blogs-content .box .img img {
    width: 100%;
    display: block;
    transition: all .5s ease;
}
.blogs .blogs-content .box:hover .img img{
    transform: scale(1.1);
}
.blogs .blogs-content .box .info {
    padding: 10px 0;
}
.blogs .blogs-content .box .info span {
    font-size: 14px;
    color: #F0FFF0;
    display: inline-block;
}
.blogs .blogs-content .box .info span:nth-child(2){
    border-left: 1px solid gainsboro;
    padding-left: 8px;
    margin-left: 10px;
}
.blogs .blogs-content .box h3 {
    font-size: 24px;
    font-weight: 700;
    color: #66CDAA;
    margin: 0 0 10px;
    padding: 0;
}
.blogs .blogs-content .box p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #F0FFF0;
    margin: 0 0 10px;
}
.blogs .blogs-content .box a {
    font-size: 16px;
    color: #DAA520;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid #DAA520;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.blogs .blogs-content .box a:hover {
    color: #66CDAA;
    border-color: #66CDAA;
}

/* my interests */
.portfolio {
    padding: 100px 0px;
}
.portfolio .section-title h1:before {
    left: 30%;
}
.portfolio .filter-buttons {
    flex: 0 0 100%;
    max-width: 100%;
}
.portfolio .filter-buttons ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
.portfolio .filter-buttons ul li {
    color: #F0FFF0;
    font-weight: 600;
    font-size: 21px;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
}
.portfolio .filter-buttons ul li.active {
    color: #F0FFF0;
    border-bottom: 2px solid #F0FFF0;
}
.portfolio .filter-buttons {
    margin-bottom: 25px;
}
.portfolio .portfolio-gallery {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.portfolio .portfolio-gallery .item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding: 8px;
}
.portfolio .portfolio-gallery .item .inner {
    position: relative;
}

.portfolio .portfolio-gallery .item img {
    width: 100%;
    display: block;
}
.portfolio .portfolio-gallery .item .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}
.portfolio .portfolio-gallery .item:hover .overlay {
    opacity: 1;
}
.portfolio .portfolio-gallery .item .overlay .fa {
    height: 50px;
    width: 50px;
    border: 2px solid #66CDAA;
    color: #DAA520;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.portfolio .portfolio-gallery .item:hover .overlay .fa {
    -webkit-animation: galleryIcon .8s ease;
    animation: galleryIcon .8s ease;
}
@keyframes galleryIcon {
    0%{
        transform: translateY(-20px);opacity: 0;
    }
    100%{
        transform: translateY(0);opacity: 1;
    }
}

.portfolio .portfolio-gallery .item .overlay h4 {
    margin-top: 15px;
    color: #F0FFF0;
    font-size: 27px;
    font-weight: 700;
} 
.portfolio .portfolio-gallery .item:hover .overlay h4 {
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
}
@keyframes galleryText {
    0%{
        transform: translateY(20px);opacity: 0;
    }
    100%{
        transform: translateY(0);opacity: 1;
    }
}

/* lightbox */
.lightbox {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.lightbox.show {
    display: flex;
}
.lightbox.hide {
    display: none;
}
.lightbox .close-lightbox {
    height: 35px;
    width: 35px;
    background-color: #66CDAA;
    text-align: center;
    line-height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 101;
}
.lightbox img {
    max-width: 90%;
    max-height: 80%;
    display: block;
}

/* contact us */
.contact-us {
    padding: 100px 15px;
}
.contact-us .section-title h1::before {
    left: 30%;
}
.contact-us .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 50px;
    border: 1px solid rgb(58, 58, 58);
}
.contact-us .contact-form .text {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
}
.contact-us .contact-form .text h2 {
    font-size: 27px;
    font-weight: 700;
    color: #F0FFF0;
    margin: 0;
    padding: 0;
}
.contact-us .contact-form .text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #F0FFF0;
    margin: 0px;
}
.contact-us .contact-form .space-between {
    justify-content: space-between;
}
.contact-us .contact-form .col-6 {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
}
.contact-us .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-us .contact-form .form-control {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid rgb(58, 58, 58);
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Architects Daughter', cursive;
    color: #F0FFF0;
    background-color: transparent;
}
.contact-us .contact-form textarea.form-control {
    height: 120px;
    /* border: 1px solid #66CDAA; */
}
.contact-us .contact-form .form-control::placeholder {
    color: #F0FFF0;
}
.contact-us .contact-form .button {
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-us .contact-form .button a {
    border-radius: 4px;
    border: 1px solid #F0FFF0;
    color: #66CDAA;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
    /* box-shadow: 0px 0px 15px #F0FFF0; */
}
.contact-us .contact-form .button a:hover {
    background-color: #F0FFF0;
    color: #000000;
}

/* footer */
footer {
    padding: 70px 15px;
    border-top: 1px solid #66CDAA;
}
footer .logo {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #F0FFF0;
}
footer .social p {
    margin-left: 0px;
    color: #66CDAA;
}
footer .social {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 15px;
}
footer .social a {
    color: #DAA520;
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    transition: all .5s ease;
    font-size: xx-large;
}
footer .social a:hover {
    color: rgb(56, 124, 250);
}

/* copyright */
.copyright {
    padding: 15px;
}
.copyright h4 {
    color: #DAA520;
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
}
.ham-burger .fa {
    font-size: 20px;
    height: 30px;
    width: 35px;
    background-color: #66CDAA;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: none;
    /* border: 2px solid #F0FFF0; */
}

@media(max-width: 991px){
    .home .home-content .block h1 {
        font-size: 50px;
    }
}
@media(max-width: 767px){
    .home .home-content .block h1 {
        font-size: 40px;
    }
    .home .home-content .block h3 {
        font-size: 25px;
    }
    header{
        padding: 15px;
        position: fixed;
        background-color: black;
        border: none;
        border-bottom: 1px solid #66CDAA;
    }
    header .brand-name a{
        color: #66CDAA;
    }
    .ham-burger .fa{
        display: inline-block;
    }
    .navbar{
        position: absolute;
        background-color: black;
        width: 100%;
        left: 0;
        top: 60px;
        padding: 15px;
        border-top: 1px solid #66CDAA;
        display: none;
        border-bottom: 1px solid #66CDAA;
    }
    .navbar.show{
        display: block;
    }

    header .navbar ul li{
        display: block;
        margin-left: 0;
    }

    header .navbar ul li a{
        line-height: 42px;
        color: #F0FFF0;
    }
    header .navbar ul li a::before{
        background-color: #F0FFF0;
    }
    .about-me .about-content .text {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0px;
        padding-top: 30px;
    }
    .about-me .about-content .img {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .services .service-content .box {
        padding: 30px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .skills .skills-content {
        padding-right: 0px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .skills .img {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .portfolio .portfolio-gallery .item {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        padding: 8px;
    }
    .message-text .text {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .message-text .button {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left;
    }
    .blogs .blogs-content .box {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 40px;
    }
    .contact-us .contact-form {
        padding: 40px 20px;
    }
    .contact-us .contact-form .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
} 

@media(max-width: 500px){
    .home .home-content .block h1 {
        font-size: 40px;
    }
    .home .home-content .block h3 {
        font-size: 25px;
    }
    .home .home-content .block{
        padding-left: 20px;
    }
    .portfolio .portfolio-gallery .item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-me .about-content .text .info .list p {
        flex: 0 0 100%;
    }
}




